@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

body {
    background-color: #faebd7;
    font-size: 16px;
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    padding: 12px;
}

#game-board img {
    width: 125px;
    height: 125px;
    margin: 3px;
}

#startButton {
	margin-top: 30px;
	margin-left: 30px;
}

#how-to-play {
    padding: 1em;
}

.modal-backdrop.in {
    display: none;
    opacity: 0;
}